# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Datasets (IMPORTANT)
boa_dataset/
dvwa_dataset/
data_pipeline/output/
data_pipeline/processed/

# Large files
*.csv
*.pcap
*.zip
*.tar
*.tar.gz

# Logs & temp
*.log
*.tmp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

test_output.txt